@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Fjalla One', sans-serif;;
}

header {
    background-color: #02122c;
}

img#logo {
    position: relative;
    padding: 20px;
    left: 50%;
    transform: translate(-50%, 4%);
    width: 200px;
    
}

span#burguer {
    display: block;
    color: white;
    text-align: center; 
    padding: 10px;
    cursor: pointer;
}

span#burguer:hover {
    background-color: rgb(0, 162, 255);
}

span#burguer:active {
    background-color: rgb(0, 162, 255);
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 1.3em;
    background-color: #0d65fc93;
    border-top: 1px solid #0d65fc;
    transition: .3s;   
}

menu > ul > li > a:hover{
    background-color: #2273fdb7;
}

main {
    position: relative;
    width: 100vw;
    height: 463px;
    margin: auto;
    background-image: url(../imagens/banner-mobile.jpg);
    background-size: cover;
}

main > h1 {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translate(-50%);
    font-size: 3em;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.623);
    padding: 10px;
    

}

main > p > a {
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translate(-50%);
    color: white;
    background-color: black;
    padding: 10px;
    box-shadow: 0px 0px 10px white;
    border-radius: 10px;
    font-size: 1.2em;
    text-decoration: none;
}

main > p > a:hover {
    background-image: linear-gradient(#FD8932, #ffae00);
}

